/* unvisited link */
a:link {
    color: initial;
}

/* visited link */
a:visited {
    color: initial;
}

/* mouse over link */
a:hover {
    color: initial;
}

/* selected link */
a:active {
    color: initial;
}

a{
	text-decoration: none;
}
p{
	margin: 0px;
}
sub{
	vertical-align: -10%;
	font-size: 67%;
}
sup{
	vertical-align: 33%;
	font-size: 67%;
}
td{
	overflow: hidden;
}
@font-face{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 20.0px;
	font-family: "Skia";
	font-variant: normal;
	src: url(../fonts/Skia.ttf) format(truetype);
}
.p1{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 11.0px;
	font-family: "Georgia";
	color: #143B1C;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p2{
	font-family: "Arial";
	color: #000000;
}
.p3{
	font-size: 9.0px;
	font-family: "Arial";
	color: #000000;
}
.p4{
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	font-size: 40.0px;
	font-family: "Superclarendon";
	color: #38571A;
	letter-spacing: -0.020em;
	text-transform: none;
	font-variant: normal;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p5{
	font-size: 25.0px;
	color: #0097C0;
	text-align: center;
}
.p6{
	font-size: 25.0px;
	color: #006986;
	text-align: center;
}
.p7{
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	font-size: 20.0px;
	font-family: "Superclarendon";
	color: #AC5A49;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-align: center;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p8{
	font-weight: 400;
	font-family: "Skia";
	color: #FFFFFF;
}
.p9{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 11.0px;
	font-family: "Avenir Next";
	color: #000000;
	letter-spacing: 0.000em;
	text-transform: none;
	font-variant: normal;
	text-align: left;
	text-indent: 0;
	hyphens: none;
	-webkit-hyphens: none;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.p10{
	font-size: 3.0px;
	font-family: "Skia";
	color: #FFFFFF;
}
.p11{
	font-size: 15.0px;
	font-family: "Skia";
	color: #FFFFFF;
	text-align: center;
}
.p12{
	font-size: 13.0px;
	font-family: "Skia";
	color: #FFFFFF;
}
.p13{
	font-family: "Skia";
	color: #FFFFFF;
}
.p14{
	font-size: 9.0px;
	font-family: "Papyrus";
	white-space: pre;
	text-align: justify;
}
.p15{
	font-size: 9.0px;
	font-family: "Papyrus";
}
.p16{
	font-size: 10.0px;
	font-family: "Skia";
	color: #000000;
}
.c1{
	font-size: 1px;
}
.c2{
	font-size: 11.0px;
	background: transparent;
}
.c3{
	font-size: 9.0px;
	background: transparent;
}
.c4{
	color: #000000;
}
.c5{
	color: #7FB04E;
}
.c6{
	color: #006986;
}
.c7{
	font-size: 3.0px;
	background: transparent;
}
.c8{
	font-size: 15.0px;
	background: transparent;
}
.c9{
	font-size: 13.0px;
}
.c10{
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 10.0px;
	font-family: "Skia";
	color: #000000;
	font-variant: normal;
	-webkit-text-stroke-color: initial;
	-webkit-text-stroke-width: initial;
	text-shadow: none;
}
.c11{
	font-size: 10.0px;
	background: transparent;
}
.body {
}
.underline {
	text-decoration: underline;
}
.orientation-opposed .underline {
	text-decoration: overline;
}
.strikethrough {
	text-decoration: line-through;
}
.underline-strikethrough {
	text-decoration: underline line-through;
}
.orientation-opposed .underline-strikethrough {
	text-decoration: overline line-through;
}
